:root {
  --main-color: rgb(64, 68, 201);
  --second-color: rgb(255, 255, 255);
  --active-color: rgb(90, 94, 226);
}

.duties_area {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
.list_of_duties {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 70%;

  /* border: solid 1px black; */
}
.duty {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 15%;
  border-radius: 10px;
  background-color: var(--main-color);
  margin-top: 0.3em;
  /* box-shadow: 2px 2px 4px grey; */
}
.duty_text {
  display: flex;
  width: 80%;
  color: var(--second-color);
  font-weight: 300;
  margin-left: 0.5em;
  margin-right: auto;
}
.delete_btn {
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 0.5em;
  color: rgb(51, 49, 49);
}

.duty_done {
  background-color: grey;
  text-decoration: line-through;
}
