* {
  margin: 0;
  font-family: "Poppins", serif;
}
:root {
  --main-color: rgb(64, 68, 201);
  --second-color: rgb(255, 255, 255);
  --active-color: rgb(90, 94, 226);
}
html {
  background-color: var(--main-color);
}
.main_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 50px 0 0 0;
  height: 100vh;
  background-color: var(--second-color);
  margin-top: 0;
}
.dates_container {
  display: flex;
  overflow-x: auto; /* Przewijanie poziome */
  white-space: nowrap; /* Zapobiega łamaniu linii */
  scroll-snap-type: x mandatory; /* Efekt zatrzymywania się na elementach */
  width: 90%;
  height: 100px;
  padding: 10px;
  border-radius: 50px 0 0 0;
  /* box-sizing: border-box; */
  margin-left: 1em;
}
.scrol-items {
  margin-right: 0.5em;
  flex: 0 0 auto;
  width: 70px;
  height: 50%;
  background-color: var(--main-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  color: var(--second-color);
  font-weight: bold;
  scrollbar-width: none;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}
.scrol-items-active {
  background-color: var(--active-color);
}
