:root {
  --main-color: rgb(64, 68, 201);
  --main-colorv2: rgb(53, 57, 174);
  --second-color: rgb(255, 255, 255);
  --active-color: rgb(90, 94, 226);
  --side-menu-color: rgba(33, 38, 172, 0.782);
  --user-logo: 100px;
  --exp_background: rgba(203, 203, 124, 0.832);
  --exp_bar: rgb(224, 224, 110);
}

.side-menu-container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 11111;
  width: 100%;
  height: 100vh;
  background: linear-gradient(var(--main-color), var(--main-colorv2));
}
.side-menu-container-On {
  visibility: visible;
  animation: SlideIN 0.3s ease-out;
}

@keyframes SlideIN {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

.modal-content-bottom {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-close-user-menu {
  display: flex;
  width: 30%;
  height: 100%;
  z-index: 1111;
}

.x-line {
  width: 50px;
  height: 8px;
  background-color: var(--second-color);
  border-radius: 20px;
  position: absolute;
  margin-top: 2em;
  margin-left: 2em;
}

.x1 {
  transform: translate(-50%, -50%) rotate(45deg) scale(0.5);
}

.x2 {
  transform: translate(-50%, -50%) rotate(-45deg) scale(0.5);
}
.user-lvl-label {
  display: flex;
  justify-content: center;
  font-size: 6rem;
  font-weight: bold;
  z-index: 1111;
  color: var(--second-color);
}
.lvl-number {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--second-color);
}
.exp-label {
  display: flex;
  background-color: var(--exp_background);
  width: 0%;
  justify-content: left;
  transition: width 0.3s ease-in-out;
  text-align: center;
}

.logout-btn-area {
  display: flex;
  width: 100%;
  justify-content: center;
}
.logout-btn {
  width: 50%;
  font-size: 1.3rem;
  background-color: var(--second-color);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.4em;
  font-weight: bold;
  color: var(--main-color);
  margin-top: 7em;
  text-align: center;
}
